<html>
<head>
	<title><%= title %></title>
	<% puts request.inspect %>
</head>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/info">Info</a></li>
		<li><a href="/pages/new">New</a></li>
	</ul>
	<%= yield %>
</body>
</html>